@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inicio {
    width: 100vw;
    height: 20vh;
    background-color: black;
}

.menu {
    width: 100vw;
    height: 5vh;
    background-color: blue;
}

.calendario {
  display: block;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }